
/* tag css */
body{
  background-image: linear-gradient(to bottom right, #8FE6FF, #dcf7ff);
  min-height: 100vh;
}

button{
  color: black;
  padding: 8px;
  width: 4rem;
  margin-left: 1rem;
  background: #ffa88f;
  border-radius: 10%;
  border: solid;
  border-color: #ffa88f;
  transition: .5s;
  outline: none;
}

button:hover{
  background-color: #dcf7ff;
  border-color: #dcf7ff;
}

form{
  grid-area: header;
  text-align: left;
}

/* @media(max-width: 600px){
  .app__container{
    grid-template-columns: auto;
    justify-content: center;
    grid-template-areas:
      "header"
  }
}

@media(min-width: 600px){
  .app__container{
    grid-template-columns: auto auto auto;
    grid-template-rows: 5rem auto;
    justify-content: center;
    column-gap: 7px;
    grid-template-areas:
      "header header header"
  }
}

@media(min-width: 768px){
  .app__container{
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    column-gap: 10px;
    grid-template-areas:
      "header header header header header"

  }
}

@media(min-width: 992px){
  .app__container{
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
    column-gap: 10px;
    grid-template-areas:
      "header header header header header header header"
  }
} */
