
/* tag css */

body{
  background-image: linear-gradient(to bottom right, #8FE6FF, #dcf7ff);
  min-height: 100vh;
}

button{
  color: black;
  padding: 8px;
  width: 4rem;
  margin-left: 1rem;
  background: #ffa88f;
  border-radius: 10%;
  border: solid;
  border-color: #ffa88f;
  transition: .5s;
  outline: none;
}

button:hover{
  background-color: #dcf7ff;
  border-color: #dcf7ff;
}

form{
  text-align: left;
}

/* class css */

.app__container {
  margin: 5rem;
  text-align: center;
  display: block;
}

.location_input{
  background-color: inherit;
  color: 	#404040;
  padding-bottom: 5px;
  border: none;
  border-bottom: 2px solid #ffa88f;
  font-size: 20px;
}
.location_input:focus{
  background-color: inherit;
  outline: none;
}
