.card{

  width: 10rem;
  height: 20rem;
  box-shadow: 2px 5px 5px #888888;
  margin: 2rem;
  background-color: white;
  transition: .7s;
  border-radius: 5%;

}

.card:hover{
  transform: scale(1.04, 1.04);
  box-shadow: 5px 5px 5px #888888;
}

.card__header{
  color: #B0B0B0;
  padding: 1rem;
}

.card__img{
}

img{
  max-height: 100%;
  max-width: 100%;
}

/* @media(max-width: 600px){
  .card{
    width: 15rem;
    height: 20rem;
  }
}

@media(min-width: 600px){
  .card{
    width: 13rem;
    height: 20rem;
  }
}
@media(min-width: 768px){
  .card{
    width: 10rem;
    height: 20rem;
  }
}
@media(min-width: 992px){
  .card{
    width: 9rem;
    height: 20rem;
  }
} */
